<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  
  {% if date is defined %}
    <title>DST Index Interface | {{date}}</title>
  {% endif %}
  <title>DST Index Interface</title>
  <!-- <link rel="stylesheet" href="bootstrap.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    .form-control{
      width: 250px;
    }
  </style>
</head>
<body>
  <br/>
  <div class="container-fluid">
  <h1 class="text-center font-weight-bold">DST Index Interface</h1>

<h2 class="text-center font-weight-bold" style="color:red;">{{error_message}}</h2>
  <form class="form">
    <div class="form-group">
      <label for="year">Year </label>
      <input type="number" size='4' class="form-control" id="year" placeholder="Year" required name="year">
    </div>
    <div class="form-group">
      <label for="month">Month </label>
      <input type="number" class="form-control" id="month" placeholder="Month" required name="month">
    </div>

    <div class="form-group">
      <label for="Day">Day </label>
      <input type="number" class="form-control" id="Day" placeholder="Day (Optional)" name="day">
    </div>

    <div>
    <label class="radio-inline">
      <input type="radio" name="plotOptions" id="inlineRadio1" value="plot"> Plot
    </label>
    </div>
    <button type="submit" class="btn btn-default">Send </button>
</form>
<br/>

</div>
</body>
</html>